<app-navigation-bar></app-navigation-bar>
<div class="bg-gray-100 min-h-screen flex items-center justify-center text-center">
    <div class="container mx-auto px-4 py-8">
        <div>
            <h2 class="text-3xl font-bold mb-4">About Me</h2>
            <p class="text-lg mb-6">Welcome to my portfolio! 🚀</p>
        </div>

        <div class="mb-8">
            <h3 class="text-xl font-bold mb-2">Achievements:</h3>
            <ul class="list-disc pl-6">
                <li class="mb-2">Academic Excellence: I have consistently demonstrated academic excellence, maintaining a high GPA while actively participating in extracurricular activities and internships relevant to my field.</li>
                <li class="mb-2">Project Contributions: I have contributed to several collaborative projects within my academic community, showcasing my ability to work effectively in teams and solve complex problems.</li>
                <li class="mb-2">Continuous Learning: I am committed to lifelong learning and staying updated with the latest trends and advancements in software engineering, attending workshops, webinars, and hackathons to expand my knowledge and skill set.</li>
            </ul>
        </div>

        <div class="mb-8">
            <h3 class="text-xl font-bold mb-2">Portfolio Highlights:</h3>
            <ol class="list-decimal pl-6">
                <li class="mb-2">Personal Projects: I have developed and deployed several personal projects, ranging from web applications to mobile apps, demonstrating my creativity, problem-solving skills, and passion for technology.</li>
                <li class="mb-2">Internship Experience: During my internships, I have had the opportunity to work on real-world projects, gaining valuable hands-on experience and insight into the software development lifecycle and industry best practices.</li>
                <li class="mb-2">Hackathon Success: I have participated in hackathons and coding competitions, where I collaborated with peers to develop innovative solutions to pressing challenges, showcasing my ability to thrive under pressure and deliver results within tight deadlines.</li>
            </ol>
        </div>

        <div class="mb-8">
            <p class="text-lg">I am eager to embark on my journey as a professional software engineer and make meaningful contributions to the world of technology. If you are interested in collaborating on exciting projects or have opportunities for growth and development, I would love to connect with you.</p>
        </div>

    </div>
</div>
