<app-navigation-bar></app-navigation-bar>

<section class="bg-gray-100 min-h-screen flex items-center justify-center text-center">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
        <div class="max-w-2xl mx-auto text-center">
            <h2 class="text-3xl font-extrabold leading-tight tracking-tight text-black sm:text-4xl dark:text-white">
                Services
            </h2>
            <p class="mt-4 text-base font-normal text-black sm:text-xl dark:text-gray-400">
                I offer the following services:
            </p>
        </div>

        <div class="mt-12">
            <h3 class="mb-4 text-xl font-semibold text-black dark:text-white text-center">Web Development</h3>
            <ul class="max-w-md mx-auto space-y-1 text-black list-disc list-inside dark:text-gray-400 text-center">
                <li>
                    Application Frontend Development: I can create responsive and user-friendly frontend applications for various purposes.
                </li><br>
                <li>
                    CMS Website Development: I have experience in developing CMS websites like Blogie, enabling easy content management.
                </li><br>
                <li>
                    Report Maker with Photo Collage: I have developed Anuwrap, a report maker with a photo collage feature, providing visually appealing reports.
                </li>
            </ul>
        </div>
    </div>
</section>
